In [5]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=482a20e2fbc368eb8df7075aeb6162eb7a5d97cc662d87ef13a082e89113caed
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [8]:
spark

In [9]:
#read the data set
df_pyspark=spark.read.option('header','true').csv('/content/drive/MyDrive/demo - Sheet1.csv')

In [8]:
#check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [10]:
df_pyspark=spark.read.csv('/content/drive/MyDrive/demo - Sheet1.csv',header=True,inferSchema=True)
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| vivek| 20|        10|
|bagula| 19|         8|
| manga| 18|         4|
+------+---+----------+

In [11]:
#check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [12]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [13]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [14]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| vivek| 20|        10|
|bagula| 19|         8|
| manga| 18|         4|
+------+---+----------+

In [15]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [16]:
df_pyspark.select('Name').show()

+------+
|  Name|
+------+
| vivek|
|bagula|
| manga|
+------+

In [18]:
df_pyspark.select(['Name','Experience']).show()

+------+----------+
|  Name|Experience|
+------+----------+
| vivek|        10|
|bagula|         8|
| manga|         4|
+------+----------+

In [21]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [24]:
df_pyspark.describe().show()

+-------+------+----+-----------------+
|summary|  Name| Age|       Experience|
+-------+------+----+-----------------+
|  count|     3|   3|                3|
|   mean|  NULL|19.0|7.333333333333333|
| stddev|  NULL| 1.0|3.055050463303893|
|    min|bagula|  18|                4|
|    max| vivek|  20|               10|
+-------+------+----+-----------------+

In [25]:
#adding columns in a data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 Years',df_pyspark['Experience']+2)

In [26]:
df_pyspark.show()

+------+---+----------+------------------------+
|  Name|Age|Experience|Experience After 2 Years|
+------+---+----------+------------------------+
| vivek| 20|        10|                      12|
|bagula| 19|         8|                      10|
| manga| 18|         4|                       6|
+------+---+----------+------------------------+

In [27]:
df_pyspark=df_pyspark.drop('Experience After 2 Years')

In [28]:
df_pyspark.show()

+------+---+----------+
|  Name|Age|Experience|
+------+---+----------+
| vivek| 20|        10|
|bagula| 19|         8|
| manga| 18|         4|
+------+---+----------+

In [29]:
df_pyspark=df_pyspark.withColumnRenamed('Name','New_Name')

In [30]:
df_pyspark.show()

+--------+---+----------+
|New_Name|Age|Experience|
+--------+---+----------+
|   vivek| 20|        10|
|  bagula| 19|         8|
|   manga| 18|         4|
+--------+---+----------+